.image{
    display: flex;
    flex-direction: column;
}

.image-input{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.image-input + label {
    width: 60vw;
    margin: auto;
    margin-top: 15px;
    text-align: center;
    font-size: 1.25em;
    font-weight: 600;
    color: black;
    background-color: white;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 1px 1px 3px gray;
}
.image-input:focus + label,
.image-input + label:hover {
    background-color: #f9f9f9;
}